[Desktop Entry]
Name=DSED
Comment=Futuredial DSED
Exec=/usr/bin/python3 /opt/futuredial/dsed/athenaloader.py
Icon=/opt/futuredial/dsed/NewDSE.ico
Terminal=false
Type=Application
Categories=Application;
StartupNotify=true
NoDisplay=true
Path=/opt/futuredial/dsed
